# Dataset for Lab-3 is PAHSSnr.csv

PASenrios.csv file is extracted from Lock5Data library using R Studio

In [14]:
import pandas as pd

In [16]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
PAHSSnr = pd.read_csv(r'..\Data_Extraction\PASeniors.csv')
print(PAHSSnr.head())

   Year  Gender  Age   Hand  Height  Foot  Armspan  Languages GetToSchool  \
0  2013  Female   17  Right   165.0  25.0    161.0        1.0         Car
1  2015  Female   17  Right   157.0  22.0    152.0        1.0         Car
2  2012    Male   18  Right   177.0  30.0    180.0        1.0         Car
3  2018    Male   18  Right   185.0  27.0    182.0        2.0         Car
4  2015    Male   16  Right     NaN   NaN      NaN        1.0         Car

   TravelTime  ...  HangHours  HWHours SportsHours VideoGameHours  \
0         7.0  ...       12.0     0.25         6.0            0.0
1         5.0  ...        2.0    21.00         2.0            0.0
2         2.0  ...       35.0     0.00         5.0            0.0
3        20.0  ...        8.0     1.00        18.0            0.0
4         4.0  ...       15.0     2.00        20.0            2.0

  ComputerHours TVHours WorkHours SchoolPressure      Superpower Preference
0           2.0     2.0       8.0    Very little       Telepathy      Happy
1          15.0     3.0       0.0          A lot     Freeze time       Rich
2           5.0    10.0      25.0    Very little  Super strength      Happy
3           1.0     1.0      12.0    Very little     Freeze time       Rich
4           4.0     2.0       4.0          A lot    Invisibility      Happy

[5 rows x 36 columns]

In [18]:
# Step-2: Remove variables 'Model' and 'Location'
# --------------------------------------------------
columns_to_drop = ['Superpower', 'Preference', 'SchoolPressure', 'Activity', 'Music', 'Sleep2']
PAHSSnr_1 = PAHSSnr.drop(columns=columns_to_drop)
print(f"\nColumns '{', '.join(columns_to_drop)}' removed.")
print(PAHSSnr_1.head())

Columns 'Superpower, Preference, SchoolPressure, Activity, Music, Sleep2' removed.
   Year  Gender  Age   Hand  Height  Foot  Armspan  Languages GetToSchool  \
0  2013  Female   17  Right   165.0  25.0    161.0        1.0         Car
1  2015  Female   17  Right   157.0  22.0    152.0        1.0         Car
2  2012    Male   18  Right   177.0  30.0    180.0        1.0         Car
3  2018    Male   18  Right   185.0  27.0    182.0        2.0         Car
4  2015    Male   16  Right     NaN   NaN      NaN        1.0         Car

   TravelTime  ...  Occupants  Communicate TextsSent HangHours HWHours  \
0         7.0  ...        4.0         Text     500.0      12.0    0.25
1         5.0  ...        4.0         Text      30.0       2.0   21.00
2         2.0  ...        5.0        Phone      50.0      35.0    0.00
3        20.0  ...        5.0          App      50.0       8.0    1.00
4         4.0  ...        5.0    In person     500.0      15.0    2.00

  SportsHours VideoGameHours ComputerHours TVHours  WorkHours
0         6.0            0.0           2.0     2.0        8.0
1         2.0            0.0          15.0     3.0        0.0
2         5.0            0.0           5.0    10.0       25.0
3        18.0            0.0           1.0     1.0       12.0
4        20.0            2.0           4.0     2.0        4.0

[5 rows x 30 columns]

In [20]:
# Step-3: Removing rows with Null values
# --------------------------------------------------
initial_rows = PAHSSnr_1.shape[0]
PAHSSnr_1.dropna(inplace=True)
rows_removed = initial_rows - PAHSSnr_1.shape[0]
print(f"\nRemoved {rows_removed} rows with null values.")

Removed 120 rows with null values.

In [22]:
# Step-4: Renaming the column names
# --------------------------------------------------
rename_map = {'Armspan': 'Arm_span',
              'GetToSchool': 'Get_to_School',
              'TravelTime': 'Travel_Time',
              'ReactionTime': 'Reaction_Time',
              'MemoryScore': 'Memory_Score',
              'BirthMonth': 'Birth_Month',
              'FavFood': 'Fav_Food',
              'FavSubject': 'Fav_Sub',
              'Sleep1': 'Sleep_Time',
              'Communicate': 'Communication',
              'TextsSent': 'Txt_Sent',
              'HangHours': 'Hang_Hrs',
              'HWHours': 'HW_Hrs',
              'SportsHours': 'Sport_Hrs',
              'VideoGameHours': 'VG_Hrs',
              'ComputerHours': 'Comp_Hrs',
              'TVHours': 'TV_Hrs',
              'WorkHours': 'Work_Hrs'}

PAHSSnr_2 = PAHSSnr_1.rename(columns=rename_map)

PAHSSnr_2.head()

,Year,Gender,Age,Hand,Height,Foot,Arm_span,Languages,Get_to_School,Travel_Time,...,Occupants,Communication,Txt_Sent,Hang_Hrs,HW_Hrs,Sport_Hrs,VG_Hrs,Comp_Hrs,TV_Hrs,Work_Hrs
0,2013,Female,17,Right,165.0,25.0,161.0,1.0,Car,7.0,...,4.0,Text,500.0,12.0,0.25,6.0,0.0,2.0,2.0,8.0
1,2015,Female,17,Right,157.0,22.0,152.0,1.0,Car,5.0,...,4.0,Text,30.0,2.0,21.00,2.0,0.0,15.0,3.0,0.0
2,2012,Male,18,Right,177.0,30.0,180.0,1.0,Car,2.0,...,5.0,Phone,50.0,35.0,0.00,5.0,0.0,5.0,10.0,25.0
5,2015,Female,17,Right,170.0,26.0,170.0,1.0,Car,7.0,...,5.0,Text,15.0,5.0,5.00,5.0,1.0,2.0,4.0,0.0
7,2010,Female,17,Right,153.0,22.0,154.0,3.0,Car,6.0,...,4.0,In person,0.0,7.0,3.00,6.0,0.0,30.0,2.0,0.0

In [24]:
# Step 5: Making the column names uppercase letters.
# --------------------------------------------------
PAHSSnr_2.columns = [col.upper() for col in PAHSSnr_2.columns]
PAHSSnr_2

,YEAR,GENDER,AGE,HAND,HEIGHT,FOOT,ARM_SPAN,LANGUAGES,GET_TO_SCHOOL,TRAVEL_TIME,...,OCCUPANTS,COMMUNICATION,TXT_SENT,HANG_HRS,HW_HRS,SPORT_HRS,VG_HRS,COMP_HRS,TV_HRS,WORK_HRS
0,2013,Female,17,Right,165.0,25.0,161.0,1.0,Car,7.0,...,4.0,Text,500.0,12.0,0.25,6.0,0.0,2.0,2.0,8.0
1,2015,Female,17,Right,157.0,22.0,152.0,1.0,Car,5.0,...,4.0,Text,30.0,2.0,21.00,2.0,0.0,15.0,3.0,0.0
2,2012,Male,18,Right,177.0,30.0,180.0,1.0,Car,2.0,...,5.0,Phone,50.0,35.0,0.00,5.0,0.0,5.0,10.0,25.0
5,2015,Female,17,Right,170.0,26.0,170.0,1.0,Car,7.0,...,5.0,Text,15.0,5.0,5.00,5.0,1.0,2.0,4.0,0.0
7,2010,Female,17,Right,153.0,22.0,154.0,3.0,Car,6.0,...,4.0,In person,0.0,7.0,3.00,6.0,0.0,30.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,2016,Male,17,Right,184.0,27.0,182.0,1.0,Car,15.0,...,5.0,In person,10.0,10.0,5.00,5.0,1.0,2.0,0.0,15.0
451,2018,Male,17,Right,181.0,26.0,182.0,1.0,Bus,15.0,...,3.0,Text,60.0,7.0,5.00,3.0,3.0,10.0,5.0,0.0
453,2016,Female,17,Right,163.0,23.0,171.0,3.0,Car,11.0,...,4.0,Text,27.0,4.0,25.00,9.0,0.0,35.0,21.0,3.0
454,2011,Female,18,Right,173.8,24.2,172.7,1.0,Car,15.0,...,3.0,Text,75.0,8.0,21.00,1.0,5.0,12.0,8.0,0.0
456,2010,Male,18,Right,171.0,26.0,177.0,1.0,Car,15.0,...,4.0,Text,100.0,8.0,0.00,18.0,1.0,6.0,8.0,11.0

In [26]:
# Step-6: Exporting the file
# --------------------------------------------------
output_filename = 'PAHSSnr.csv'
PAHSSnr_2.to_csv(output_filename, index=False)
print(f"\nCleaned dataset exported to '{output_filename}' successfully.")

Cleaned dataset exported to 'PAHSSnr.csv' successfully.