# Dataset for Lab-8 is SStudy_Raw.csv

Raw dataset file SStudy_Raw.csv is extracted from the Lock5Data library in RStudio

In [4]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
import pandas as pd
SS = pd.read_csv(r'..\Data_Extraction\SStudy_Raw.csv')
SS

,Gender,ClassYear,LarkOwl,NumEarlyClass,EarlyClass,GPA,ClassesMissed,CognitionZscore,PoorSleepQuality,DepressionScore,...,AlcoholUse,Drinks,WeekdayBed,WeekdayRise,WeekdaySleep,WeekendBed,WeekendRise,WeekendSleep,AverageSleep,AllNighter
0,0,4,Neither,0,0,3.60,0,-0.26,4,4,...,Moderate,10,25.75,8.70,7.70,25.75,9.50,5.88,7.18,0
1,0,4,Neither,2,1,3.24,0,1.39,6,1,...,Moderate,6,25.70,8.20,6.80,26.00,10.00,7.25,6.93,0
2,0,4,Owl,0,0,2.97,12,0.38,18,18,...,Light,3,27.44,6.55,3.00,28.00,12.59,10.09,5.02,0
3,0,1,Lark,5,1,3.76,0,1.39,9,1,...,Light,2,23.50,7.17,6.77,27.00,8.00,7.25,6.90,0
4,0,4,Owl,0,0,3.20,4,1.22,9,7,...,Moderate,4,25.90,8.67,6.09,23.75,9.50,7.00,6.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,1,3,Neither,0,0,3.35,7,0.87,11,5,...,Light,3,26.75,9.42,6.77,24.50,10.50,9.50,7.55,1
249,0,1,Neither,2,1,3.00,1,-0.32,9,8,...,Light,5,23.60,8.63,9.03,24.50,10.00,9.50,9.17,0
250,0,3,Neither,2,1,3.50,1,1.30,2,1,...,Moderate,5,24.45,8.25,7.80,25.00,9.75,8.75,8.07,0
251,1,2,Neither,2,1,2.60,0,-0.29,5,1,...,Moderate,7,24.38,9.20,8.97,26.00,9.88,7.50,8.55,0
252,1,2,Neither,5,1,2.50,3,-1.00,3,2,...,Moderate,13,23.35,7.75,8.40,25.00,10.88,9.88,8.82,0

In [6]:
# Step-2: Removing unwanted variables
# --------------------------------------------------
cols_to_remove = ['ClassesMissed', 'NumEarlyClass', 'AllNighter', 'EarlyClass']

SS_1 = SS.drop(columns=cols_to_remove)
SS_1.head()

,Gender,ClassYear,LarkOwl,GPA,CognitionZscore,PoorSleepQuality,DepressionScore,AnxietyScore,StressScore,DepressionStatus,...,Happiness,AlcoholUse,Drinks,WeekdayBed,WeekdayRise,WeekdaySleep,WeekendBed,WeekendRise,WeekendSleep,AverageSleep
0,0,4,Neither,3.60,-0.26,4,4,3,8,normal,...,28,Moderate,10,25.75,8.70,7.70,25.75,9.50,5.88,7.18
1,0,4,Neither,3.24,1.39,6,1,0,3,normal,...,25,Moderate,6,25.70,8.20,6.80,26.00,10.00,7.25,6.93
2,0,4,Owl,2.97,0.38,18,18,18,9,moderate,...,17,Light,3,27.44,6.55,3.00,28.00,12.59,10.09,5.02
3,0,1,Lark,3.76,1.39,9,1,4,6,normal,...,32,Light,2,23.50,7.17,6.77,27.00,8.00,7.25,6.90
4,0,4,Owl,3.20,1.22,9,7,25,14,normal,...,15,Moderate,4,25.90,8.67,6.09,23.75,9.50,7.00,6.35

In [8]:
# Step-3: Renaming the column names
# --------------------------------------------------
rename_map = {'Gender': 'GENDER',
              'ClassYear': 'CL_YEAR',
              'LarkOwl': 'LNO',
              'GPA': 'GPA',
              'CognitionZscore': 'COG_ZSCORE',
              'PoorSleepQuality': 'PS_QUAL',
              'DepressionScore': 'DEP_SCORE',
              'AnxietyScore': 'ANX_SCORE',
              'StressScore': 'STR_SCORE',
              'DepressionStatus': 'DEP_STATUS',
              'AnxietyStatus': 'ANX_STATUS',
              'Stress': 'STRESS',
              'DASScore': 'DAS_SCORE',
              'Happiness': 'HAPPINESS',
              'AlcoholUse': 'ALCO_USE',
              'Drinks': 'DRINKS',
              'WeekdayBed': 'WD_BED',
              'WeekdayRise': 'WD_RISE',
              'WeekdaySleep': 'WD_SLEEP',
              'WeekendBed': 'WE_BED',
              'WeekdendRise': 'WE_RISE',
              'WeekendSleep': 'WE_SLEEP',
              'AverageSleep': 'AVG_SLEEP'}

SS_2 = SS_1.rename(columns=rename_map)

SS_2.head()

,GENDER,CL_YEAR,LNO,GPA,COG_ZSCORE,PS_QUAL,DEP_SCORE,ANX_SCORE,STR_SCORE,DEP_STATUS,...,HAPPINESS,ALCO_USE,DRINKS,WD_BED,WD_RISE,WD_SLEEP,WE_BED,WeekendRise,WE_SLEEP,AVG_SLEEP
0,0,4,Neither,3.60,-0.26,4,4,3,8,normal,...,28,Moderate,10,25.75,8.70,7.70,25.75,9.50,5.88,7.18
1,0,4,Neither,3.24,1.39,6,1,0,3,normal,...,25,Moderate,6,25.70,8.20,6.80,26.00,10.00,7.25,6.93
2,0,4,Owl,2.97,0.38,18,18,18,9,moderate,...,17,Light,3,27.44,6.55,3.00,28.00,12.59,10.09,5.02
3,0,1,Lark,3.76,1.39,9,1,4,6,normal,...,32,Light,2,23.50,7.17,6.77,27.00,8.00,7.25,6.90
4,0,4,Owl,3.20,1.22,9,7,25,14,normal,...,15,Moderate,4,25.90,8.67,6.09,23.75,9.50,7.00,6.35

In [10]:
# Step-4: Removing rows with NA or blank values.
# --------------------------------------------------
SS_2.dropna(inplace=True)
SS_2.head()

,GENDER,CL_YEAR,LNO,GPA,COG_ZSCORE,PS_QUAL,DEP_SCORE,ANX_SCORE,STR_SCORE,DEP_STATUS,...,HAPPINESS,ALCO_USE,DRINKS,WD_BED,WD_RISE,WD_SLEEP,WE_BED,WeekendRise,WE_SLEEP,AVG_SLEEP
0,0,4,Neither,3.60,-0.26,4,4,3,8,normal,...,28,Moderate,10,25.75,8.70,7.70,25.75,9.50,5.88,7.18
1,0,4,Neither,3.24,1.39,6,1,0,3,normal,...,25,Moderate,6,25.70,8.20,6.80,26.00,10.00,7.25,6.93
2,0,4,Owl,2.97,0.38,18,18,18,9,moderate,...,17,Light,3,27.44,6.55,3.00,28.00,12.59,10.09,5.02
3,0,1,Lark,3.76,1.39,9,1,4,6,normal,...,32,Light,2,23.50,7.17,6.77,27.00,8.00,7.25,6.90
4,0,4,Owl,3.20,1.22,9,7,25,14,normal,...,15,Moderate,4,25.90,8.67,6.09,23.75,9.50,7.00,6.35

In [12]:
# Step-5: Recode groups in the 'GENDER' column
# --------------------------------------------------
SS_2['GENDER'] = SS_2['GENDER'].map({0: 'Male', 1: 'Female'})
SS_2.head()

,GENDER,CL_YEAR,LNO,GPA,COG_ZSCORE,PS_QUAL,DEP_SCORE,ANX_SCORE,STR_SCORE,DEP_STATUS,...,HAPPINESS,ALCO_USE,DRINKS,WD_BED,WD_RISE,WD_SLEEP,WE_BED,WeekendRise,WE_SLEEP,AVG_SLEEP
0,Male,4,Neither,3.60,-0.26,4,4,3,8,normal,...,28,Moderate,10,25.75,8.70,7.70,25.75,9.50,5.88,7.18
1,Male,4,Neither,3.24,1.39,6,1,0,3,normal,...,25,Moderate,6,25.70,8.20,6.80,26.00,10.00,7.25,6.93
2,Male,4,Owl,2.97,0.38,18,18,18,9,moderate,...,17,Light,3,27.44,6.55,3.00,28.00,12.59,10.09,5.02
3,Male,1,Lark,3.76,1.39,9,1,4,6,normal,...,32,Light,2,23.50,7.17,6.77,27.00,8.00,7.25,6.90
4,Male,4,Owl,3.20,1.22,9,7,25,14,normal,...,15,Moderate,4,25.90,8.67,6.09,23.75,9.50,7.00,6.35

In [14]:
# Step-6: Recode groups in the 'CL_YEAR' column
# --------------------------------------------------
SS_2['CL_YEAR'] = SS_2['CL_YEAR'].map({1: 'Freshman', 2: 'Sophomore', 3: 'Junior', 4: 'Senior'})
SS_2.head()

,GENDER,CL_YEAR,LNO,GPA,COG_ZSCORE,PS_QUAL,DEP_SCORE,ANX_SCORE,STR_SCORE,DEP_STATUS,...,HAPPINESS,ALCO_USE,DRINKS,WD_BED,WD_RISE,WD_SLEEP,WE_BED,WeekendRise,WE_SLEEP,AVG_SLEEP
0,Male,Senior,Neither,3.60,-0.26,4,4,3,8,normal,...,28,Moderate,10,25.75,8.70,7.70,25.75,9.50,5.88,7.18
1,Male,Senior,Neither,3.24,1.39,6,1,0,3,normal,...,25,Moderate,6,25.70,8.20,6.80,26.00,10.00,7.25,6.93
2,Male,Senior,Owl,2.97,0.38,18,18,18,9,moderate,...,17,Light,3,27.44,6.55,3.00,28.00,12.59,10.09,5.02
3,Male,Freshman,Lark,3.76,1.39,9,1,4,6,normal,...,32,Light,2,23.50,7.17,6.77,27.00,8.00,7.25,6.90
4,Male,Senior,Owl,3.20,1.22,9,7,25,14,normal,...,15,Moderate,4,25.90,8.67,6.09,23.75,9.50,7.00,6.35

In [16]:
# Step-7: Exporting file as CSV to the current working directory
# --------------------------------------------------
output_file_name = 'Sleep_Study.csv'
SS_2.to_csv(output_file_name, index=False)

print(f"Dataset successfully cleaned and saved to {output_file_name}")

Dataset successfully cleaned and saved to Sleep_Study.csv