# Data Cleaning: Cars_CD_Raw.csv

Cars_CD_Raw.csv file is extracted from  
Kaggle - (Khare, A. (2020). Car Details Dataset. Kaggle. Retrieved from 
https://www.kaggle.com/datasets/akshaydattatraykhare/car-details-dataset)

In [5]:
import pandas as pd
import re

In [7]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
Cars = pd.read_csv('CD_Cars_Raw.csv')
print(Cars.head())

            Make                            Model    Price  Year  Kilometer  \
0          Honda              Amaze 1.2 VX i-VTEC   505000  2017      87150
1  Maruti Suzuki                  Swift DZire VDI   450000  2014      75000
2        Hyundai             i10 Magna 1.2 Kappa2   220000  2011      67000
3         Toyota                         Glanza G   799000  2019      37500
4         Toyota  Innova 2.4 VX 7 STR [2016-2020]  1950000  2018      69000

  Fuel Type Transmission   Location   Color   Owner Seller Type   Engine  \
0    Petrol       Manual       Pune    Grey   First   Corporate  1198 cc
1    Diesel       Manual   Ludhiana   White  Second  Individual  1248 cc
2    Petrol       Manual    Lucknow  Maroon   First  Individual  1197 cc
3    Petrol       Manual  Mangalore     Red   First  Individual  1197 cc
4    Diesel       Manual     Mumbai    Grey   First  Individual  2393 cc

            Max Power              Max Torque Drivetrain  Length   Width  \
0   87 bhp @ 6000 rpm       109 Nm @ 4500 rpm        FWD  3990.0  1680.0
1   74 bhp @ 4000 rpm       190 Nm @ 2000 rpm        FWD  3995.0  1695.0
2   79 bhp @ 6000 rpm  112.7619 Nm @ 4000 rpm        FWD  3585.0  1595.0
3   82 bhp @ 6000 rpm       113 Nm @ 4200 rpm        FWD  3995.0  1745.0
4  148 bhp @ 3400 rpm       343 Nm @ 1400 rpm        RWD  4735.0  1830.0

   Height  Seating Capacity  Fuel Tank Capacity
0  1505.0               5.0                35.0
1  1555.0               5.0                42.0
2  1550.0               5.0                35.0
3  1510.0               5.0                37.0
4  1795.0               7.0                55.0

In [9]:
# Step-2: Remove variables 'Model' and 'Location'
# --------------------------------------------------
columns_to_drop = ['Model', 'Location']
Cars = Cars.drop(columns=columns_to_drop)
print(f"\nColumns '{', '.join(columns_to_drop)}' removed.")
print(Cars.head())

Columns 'Model, Location' removed.
            Make    Price  Year  Kilometer Fuel Type Transmission   Color  \
0          Honda   505000  2017      87150    Petrol       Manual    Grey
1  Maruti Suzuki   450000  2014      75000    Diesel       Manual   White
2        Hyundai   220000  2011      67000    Petrol       Manual  Maroon
3         Toyota   799000  2019      37500    Petrol       Manual     Red
4         Toyota  1950000  2018      69000    Diesel       Manual    Grey

    Owner Seller Type   Engine           Max Power              Max Torque  \
0   First   Corporate  1198 cc   87 bhp @ 6000 rpm       109 Nm @ 4500 rpm
1  Second  Individual  1248 cc   74 bhp @ 4000 rpm       190 Nm @ 2000 rpm
2   First  Individual  1197 cc   79 bhp @ 6000 rpm  112.7619 Nm @ 4000 rpm
3   First  Individual  1197 cc   82 bhp @ 6000 rpm       113 Nm @ 4200 rpm
4   First  Individual  2393 cc  148 bhp @ 3400 rpm       343 Nm @ 1400 rpm

  Drivetrain  Length   Width  Height  Seating Capacity  Fuel Tank Capacity
0        FWD  3990.0  1680.0  1505.0               5.0                35.0
1        FWD  3995.0  1695.0  1555.0               5.0                42.0
2        FWD  3585.0  1595.0  1550.0               5.0                35.0
3        FWD  3995.0  1745.0  1510.0               5.0                37.0
4        RWD  4735.0  1830.0  1795.0               7.0                55.0

In [11]:
# Step-3: Removing text from the 'Max Power' variable
# --------------------------------------------------
def extract_bhp(power_str):
    if pd.isna(power_str) or isinstance(power_str, (int, float)):
        return power_str
    if isinstance(power_str, str):
        match = re.search(r'(\d+\.?\d*)\s*.*?[bB][hH][pP]', power_str, re.IGNORECASE)
        if match:
            return float(match.group(1))
    return None

Cars['Max Power'] = Cars['Max Power'].apply(extract_bhp)
print("\n'Max Power' column refined to only bhp values.")
print(Cars.head())

'Max Power' column refined to only bhp values.
            Make    Price  Year  Kilometer Fuel Type Transmission   Color  \
0          Honda   505000  2017      87150    Petrol       Manual    Grey
1  Maruti Suzuki   450000  2014      75000    Diesel       Manual   White
2        Hyundai   220000  2011      67000    Petrol       Manual  Maroon
3         Toyota   799000  2019      37500    Petrol       Manual     Red
4         Toyota  1950000  2018      69000    Diesel       Manual    Grey

    Owner Seller Type   Engine  Max Power              Max Torque Drivetrain  \
0   First   Corporate  1198 cc       87.0       109 Nm @ 4500 rpm        FWD
1  Second  Individual  1248 cc       74.0       190 Nm @ 2000 rpm        FWD
2   First  Individual  1197 cc       79.0  112.7619 Nm @ 4000 rpm        FWD
3   First  Individual  1197 cc       82.0       113 Nm @ 4200 rpm        FWD
4   First  Individual  2393 cc      148.0       343 Nm @ 1400 rpm        RWD

   Length   Width  Height  Seating Capacity  Fuel Tank Capacity
0  3990.0  1680.0  1505.0               5.0                35.0
1  3995.0  1695.0  1555.0               5.0                42.0
2  3585.0  1595.0  1550.0               5.0                35.0
3  3995.0  1745.0  1510.0               5.0                37.0
4  4735.0  1830.0  1795.0               7.0                55.0

In [13]:
# Step-4: Removing text from the 'Max Torque' variable
# --------------------------------------------------
def extract_nm(torque_str):
    if pd.isna(torque_str) or isinstance(torque_str, (int, float)):
        return torque_str
    if isinstance(torque_str, str):
        match = re.search(r'(\d+\.?\d*)\s*.*?[Nn][Mm]', torque_str, re.IGNORECASE)
        if match:
            return float(match.group(1))
    return None

Cars['Max Torque'] = Cars['Max Torque'].apply(extract_nm)
print("'Max Torque' column refined to only Nm values.")

print(Cars.head())

'Max Torque' column refined to only Nm values.
            Make    Price  Year  Kilometer Fuel Type Transmission   Color  \
0          Honda   505000  2017      87150    Petrol       Manual    Grey
1  Maruti Suzuki   450000  2014      75000    Diesel       Manual   White
2        Hyundai   220000  2011      67000    Petrol       Manual  Maroon
3         Toyota   799000  2019      37500    Petrol       Manual     Red
4         Toyota  1950000  2018      69000    Diesel       Manual    Grey

    Owner Seller Type   Engine  Max Power  Max Torque Drivetrain  Length  \
0   First   Corporate  1198 cc       87.0    109.0000        FWD  3990.0
1  Second  Individual  1248 cc       74.0    190.0000        FWD  3995.0
2   First  Individual  1197 cc       79.0    112.7619        FWD  3585.0
3   First  Individual  1197 cc       82.0    113.0000        FWD  3995.0
4   First  Individual  2393 cc      148.0    343.0000        RWD  4735.0

    Width  Height  Seating Capacity  Fuel Tank Capacity
0  1680.0  1505.0               5.0                35.0
1  1695.0  1555.0               5.0                42.0
2  1595.0  1550.0               5.0                35.0
3  1745.0  1510.0               5.0                37.0
4  1830.0  1795.0               7.0                55.0

In [15]:
# Step-5: Removing 'cc' from the variable 'Engine'
# --------------------------------------------------
Cars['Engine'] = Cars['Engine'].astype(str).str.replace('cc', '', regex=False).str.strip()
Cars['Engine'] = pd.to_numeric(Cars['Engine'], errors='coerce')
print("'Engine' column refined to numeric values (cc removed).")

print(Cars.head())

'Engine' column refined to numeric values (cc removed).
            Make    Price  Year  Kilometer Fuel Type Transmission   Color  \
0          Honda   505000  2017      87150    Petrol       Manual    Grey
1  Maruti Suzuki   450000  2014      75000    Diesel       Manual   White
2        Hyundai   220000  2011      67000    Petrol       Manual  Maroon
3         Toyota   799000  2019      37500    Petrol       Manual     Red
4         Toyota  1950000  2018      69000    Diesel       Manual    Grey

    Owner Seller Type  Engine  Max Power  Max Torque Drivetrain  Length  \
0   First   Corporate  1198.0       87.0    109.0000        FWD  3990.0
1  Second  Individual  1248.0       74.0    190.0000        FWD  3995.0
2   First  Individual  1197.0       79.0    112.7619        FWD  3585.0
3   First  Individual  1197.0       82.0    113.0000        FWD  3995.0
4   First  Individual  2393.0      148.0    343.0000        RWD  4735.0

    Width  Height  Seating Capacity  Fuel Tank Capacity
0  1680.0  1505.0               5.0                35.0
1  1695.0  1555.0               5.0                42.0
2  1595.0  1550.0               5.0                35.0
3  1745.0  1510.0               5.0                37.0
4  1830.0  1795.0               7.0                55.0

In [17]:
# Step-6: Removing rows with Null values
# --------------------------------------------------
initial_rows = Cars.shape[0]
Cars.dropna(inplace=True) # inplace=True modifies the DataFrame directly
rows_removed = initial_rows - Cars.shape[0]
print(f"\nRemoved {rows_removed} rows with null values.")

print(Cars)

Removed 255 rows with null values.
               Make    Price  Year  Kilometer Fuel Type Transmission   Color  \
0             Honda   505000  2017      87150    Petrol       Manual    Grey
1     Maruti Suzuki   450000  2014      75000    Diesel       Manual   White
2           Hyundai   220000  2011      67000    Petrol       Manual  Maroon
3            Toyota   799000  2019      37500    Petrol       Manual     Red
4            Toyota  1950000  2018      69000    Diesel       Manual    Grey
...             ...      ...   ...        ...       ...          ...     ...
2053  Maruti Suzuki   245000  2014      79000    Petrol       Manual   White
2054       Mahindra   850000  2016      90300    Diesel       Manual   White
2055        Hyundai   275000  2014      83000    Petrol       Manual   White
2056           Ford   240000  2013      73000    Petrol       Manual  Silver
2057            BMW  4290000  2018      60474    Diesel    Automatic   White

       Owner Seller Type  Engine  Max Power  Max Torque Drivetrain  Length  \
0      First   Corporate  1198.0       87.0    109.0000        FWD  3990.0
1     Second  Individual  1248.0       74.0    190.0000        FWD  3995.0
2      First  Individual  1197.0       79.0    112.7619        FWD  3585.0
3      First  Individual  1197.0       82.0    113.0000        FWD  3995.0
4      First  Individual  2393.0      148.0    343.0000        RWD  4735.0
...      ...         ...     ...        ...         ...        ...     ...
2053  Second  Individual  1197.0       85.0    113.0000        FWD  3775.0
2054   First  Individual  2179.0      138.0    330.0000        FWD  4585.0
2055  Second  Individual   814.0       55.0     75.0000        FWD  3495.0
2056   First  Individual  1196.0       70.0    102.0000        FWD  3795.0
2057   First  Individual  1995.0      188.0    400.0000        RWD  4936.0

       Width  Height  Seating Capacity  Fuel Tank Capacity
0     1680.0  1505.0               5.0                35.0
1     1695.0  1555.0               5.0                42.0
2     1595.0  1550.0               5.0                35.0
3     1745.0  1510.0               5.0                37.0
4     1830.0  1795.0               7.0                55.0
...      ...     ...               ...                 ...
2053  1680.0  1620.0               5.0                43.0
2054  1890.0  1785.0               7.0                70.0
2055  1550.0  1500.0               5.0                32.0
2056  1680.0  1427.0               5.0                45.0
2057  1868.0  1479.0               5.0                65.0

[1804 rows x 18 columns]

In [19]:
# Step 7: Making the column names uppercase letters.
# --------------------------------------------------
Cars.columns = [col.upper() for col in Cars.columns]
Cars

,MAKE,PRICE,YEAR,KILOMETER,FUEL TYPE,TRANSMISSION,COLOR,OWNER,SELLER TYPE,ENGINE,MAX POWER,MAX TORQUE,DRIVETRAIN,LENGTH,WIDTH,HEIGHT,SEATING CAPACITY,FUEL TANK CAPACITY
0,Honda,505000,2017,87150,Petrol,Manual,Grey,First,Corporate,1198.0,87.0,109.0000,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,450000,2014,75000,Diesel,Manual,White,Second,Individual,1248.0,74.0,190.0000,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,220000,2011,67000,Petrol,Manual,Maroon,First,Individual,1197.0,79.0,112.7619,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,799000,2019,37500,Petrol,Manual,Red,First,Individual,1197.0,82.0,113.0000,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,1950000,2018,69000,Diesel,Manual,Grey,First,Individual,2393.0,148.0,343.0000,RWD,4735.0,1830.0,1795.0,7.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,Maruti Suzuki,245000,2014,79000,Petrol,Manual,White,Second,Individual,1197.0,85.0,113.0000,FWD,3775.0,1680.0,1620.0,5.0,43.0
2054,Mahindra,850000,2016,90300,Diesel,Manual,White,First,Individual,2179.0,138.0,330.0000,FWD,4585.0,1890.0,1785.0,7.0,70.0
2055,Hyundai,275000,2014,83000,Petrol,Manual,White,Second,Individual,814.0,55.0,75.0000,FWD,3495.0,1550.0,1500.0,5.0,32.0
2056,Ford,240000,2013,73000,Petrol,Manual,Silver,First,Individual,1196.0,70.0,102.0000,FWD,3795.0,1680.0,1427.0,5.0,45.0
2057,BMW,4290000,2018,60474,Diesel,Automatic,White,First,Individual,1995.0,188.0,400.0000,RWD,4936.0,1868.0,1479.0,5.0,65.0

In [21]:
# Step-8: Exporting the file
# --------------------------------------------------
output_filename = 'Cars_CD.csv'
Cars.to_csv(output_filename, index=False)
print(f"\nCleaned dataset exported to '{output_filename}' successfully.")

Cleaned dataset exported to 'Cars_CD.csv' successfully.