# Dataset for Lab-7 is Nutrition_Raw.csv

Raw dataset file Nutrition_Raw.csv is extracted from the openintro library in RStudio

In [5]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
import pandas as pd
NS_data = pd.read_csv(r'..\Data_Extraction\Nutrition_Raw.csv')
NS_data

,ID,Age,Smoke,Quetelet,Vitamin,Calories,Fat,Fiber,Alcohol,Cholesterol,BetaDiet,RetinolDiet,BetaPlasma,RetinolPlasma,Sex,VitaminUse,PriorSmoke
0,1,64,No,21.4838,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915,Female,Regular,2
1,2,76,No,23.8763,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727,Female,Regular,1
2,3,38,No,20.0108,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721,Female,Occasional,2
3,4,40,No,25.1406,3,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615,Female,No,2
4,5,72,No,20.9850,1,1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799,Female,Regular,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,311,46,No,25.8967,3,2263.6,98.2,19.4,2.6,306.5,2572,1261,164,216,Female,No,2
311,312,45,No,23.8270,1,1841.1,84.2,14.1,2.2,257.7,1665,465,80,328,Female,Regular,1
312,313,49,No,24.2613,1,1125.6,44.8,11.9,4.0,150.5,6943,520,300,502,Female,Regular,1
313,314,31,No,23.4525,1,2729.6,144.4,13.2,2.2,381.8,741,644,121,684,Female,Regular,2
314,315,45,No,26.5081,1,1627.0,77.4,9.9,0.2,195.6,1242,554,233,826,Female,Regular,1

In [9]:
# Step-2: Removing unwanted variables
# --------------------------------------------------
cols_to_remove = ['Alcohol', 'Vitamin']

NS_data_1 = NS_data.drop(columns=cols_to_remove)
NS_data_1.head()

,ID,Age,Smoke,Quetelet,Calories,Fat,Fiber,Cholesterol,BetaDiet,RetinolDiet,BetaPlasma,RetinolPlasma,Sex,VitaminUse,PriorSmoke
0,1,64,No,21.4838,1298.8,57.0,6.3,170.3,1945,890,200,915,Female,Regular,2
1,2,76,No,23.8763,1032.5,50.1,15.8,75.8,2653,451,124,727,Female,Regular,1
2,3,38,No,20.0108,2372.3,83.6,19.1,257.9,6321,660,328,721,Female,Occasional,2
3,4,40,No,25.1406,2449.5,97.5,26.5,332.6,1061,864,153,615,Female,No,2
4,5,72,No,20.9850,1952.1,82.6,16.2,170.8,2863,1209,92,799,Female,Regular,1

In [11]:
# Step-3: Renaming the column names
# --------------------------------------------------
rename_map = {'ID': 'ID',
              'Age': 'AGE',
              'Smoke': 'SMOKE',
              'Quatelet': 'QUATELET',
              'Calories': 'CALORIES',
              'Fat': 'FAT',
              'Fiber': 'FIBER',
              'Cholesterol': 'CHOLESTEROL',
              'BetaDiet': 'B_DIET',
              'RetinolDiet': 'RET_DIET',
              'BetaPlasma': 'B_PLASMA',
              'RetinolPlasma': 'RET_PLASMA',
              'Sex': 'SEX',
              'VitaminUse': 'VTMN_USE',
              'PriorSmoke': 'PR_SMOKE'}

NS_data_2 = NS_data_1.rename(columns=rename_map)

NS_data_2.head()

,ID,AGE,SMOKE,Quetelet,CALORIES,FAT,FIBER,CHOLESTEROL,B_DIET,RET_DIET,B_PLASMA,RET_PLASMA,SEX,VTMN_USE,PR_SMOKE
0,1,64,No,21.4838,1298.8,57.0,6.3,170.3,1945,890,200,915,Female,Regular,2
1,2,76,No,23.8763,1032.5,50.1,15.8,75.8,2653,451,124,727,Female,Regular,1
2,3,38,No,20.0108,2372.3,83.6,19.1,257.9,6321,660,328,721,Female,Occasional,2
3,4,40,No,25.1406,2449.5,97.5,26.5,332.6,1061,864,153,615,Female,No,2
4,5,72,No,20.9850,1952.1,82.6,16.2,170.8,2863,1209,92,799,Female,Regular,1

In [13]:
# Step-4: Removing rows with NA or blank values.
# --------------------------------------------------
NS_data_2.dropna(inplace=True)
NS_data_2.head()

,ID,AGE,SMOKE,Quetelet,CALORIES,FAT,FIBER,CHOLESTEROL,B_DIET,RET_DIET,B_PLASMA,RET_PLASMA,SEX,VTMN_USE,PR_SMOKE
0,1,64,No,21.4838,1298.8,57.0,6.3,170.3,1945,890,200,915,Female,Regular,2
1,2,76,No,23.8763,1032.5,50.1,15.8,75.8,2653,451,124,727,Female,Regular,1
2,3,38,No,20.0108,2372.3,83.6,19.1,257.9,6321,660,328,721,Female,Occasional,2
3,4,40,No,25.1406,2449.5,97.5,26.5,332.6,1061,864,153,615,Female,No,2
4,5,72,No,20.9850,1952.1,82.6,16.2,170.8,2863,1209,92,799,Female,Regular,1

In [15]:
# Step-5: Rename groups in the 'PR_SMOKE' column
# --------------------------------------------------
NS_data_2['PR_SMOKE'] = NS_data_2['PR_SMOKE'].map({1: 'Never', 2: 'Former', 3: 'Current'})
NS_data_2.head()

,ID,AGE,SMOKE,Quetelet,CALORIES,FAT,FIBER,CHOLESTEROL,B_DIET,RET_DIET,B_PLASMA,RET_PLASMA,SEX,VTMN_USE,PR_SMOKE
0,1,64,No,21.4838,1298.8,57.0,6.3,170.3,1945,890,200,915,Female,Regular,Former
1,2,76,No,23.8763,1032.5,50.1,15.8,75.8,2653,451,124,727,Female,Regular,Never
2,3,38,No,20.0108,2372.3,83.6,19.1,257.9,6321,660,328,721,Female,Occasional,Former
3,4,40,No,25.1406,2449.5,97.5,26.5,332.6,1061,864,153,615,Female,No,Former
4,5,72,No,20.9850,1952.1,82.6,16.2,170.8,2863,1209,92,799,Female,Regular,Never

In [17]:
# Step-6: Exporting file as CSV to the current working directory
# --------------------------------------------------
output_file_name = 'Nutrition.csv'
NS_data_2.to_csv(output_file_name, index=False)

print(f"Dataset successfully cleaned and saved to {output_file_name}")

Dataset successfully cleaned and saved to Nutrition.csv