# Dataset for Lab-4 is Ames_Housing.csv

Raw dataset file Ames_Housing_Raw.csv is extracted from the AmesHousing library using RStudio

In [9]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
import pandas as pd
AH = pd.read_csv(r'..\Data_Extraction\Ames_Housing_Raw.csv')

In [11]:
# Step-2: Removing unwanted variables
# --------------------------------------------------
cols_to_remove = ['PID', 'MS SubClass', 'Lot Frontage', 'Condition 1', 'Condition 2', 'Neighborhood',
                  'Overall Cond', 'Year Built', 'Year Remod/Add', 'Exterior 1st', 'Exterior 2nd',
                  'Mas Vnr Area', 'Exter Cond', 'Total Bsmt SF', 'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2',
                  'BsmtFin SF 2', 'Bsmt Unf SF', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
                  'Heating QC', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Bsmt Full Bath',
                  'Bsmt Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'Functional', 'Fireplace Qu',
                  'Garage Yr Blt', 'Garage Finish', 'Garage Qual', 'Garage Cond', 'Wood Deck SF',
                  'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area',
                  'Pool QC', 'Fence', 'Misc Feature', 'Misc Val', 'Yr Sold', 'Order', 'Lot Area',
                  'Alley', 'Lot Config', 'Garage Area', 'MS Zoning', 'Roof Matl', 'Mas Vnr Type']

AH_1 = AH.drop(columns=cols_to_remove)
AH_1.head()

,Street,Lot Shape,Land Contour,Utilities,Land Slope,Bldg Type,House Style,Overall Qual,Roof Style,Exter Qual,...,Half Bath,TotRms AbvGrd,Fireplaces,Garage Type,Garage Cars,Paved Drive,Mo Sold,Sale Type,Sale Condition,SalePrice
0,Pave,IR1,Lvl,AllPub,Gtl,1Fam,1Story,6,Hip,TA,...,0,7,2,Attchd,2.0,P,5,WD,Normal,215000
1,Pave,Reg,Lvl,AllPub,Gtl,1Fam,1Story,5,Gable,TA,...,0,5,0,Attchd,1.0,Y,6,WD,Normal,105000
2,Pave,IR1,Lvl,AllPub,Gtl,1Fam,1Story,6,Hip,TA,...,1,6,0,Attchd,1.0,Y,6,WD,Normal,172000
3,Pave,Reg,Lvl,AllPub,Gtl,1Fam,1Story,7,Hip,Gd,...,1,8,2,Attchd,2.0,Y,4,WD,Normal,244000
4,Pave,IR1,Lvl,AllPub,Gtl,1Fam,2Story,5,Gable,TA,...,1,6,1,Attchd,2.0,Y,3,WD,Normal,189900

In [13]:
# Step-3: Renaming the column names
# --------------------------------------------------
rename_map = {'Street': 'STREET',
              'Lot Shape': 'LT_SHAPE',
              'Land Contour': 'LND_CNTR',
              'Utilities': 'UTLS',
              'Land Slope': 'LND_SLOPE',
              'Bldg Type': 'BLDG_TYPE',
              'House Style': 'HOUSE_STYLE',
              'Overall Qual': 'OVER_QUAL',
              'Roof Style': 'RF_STYLE',
              'Exter Qual': 'EXT_QUAL',
              'Foundation': 'FNDATN',
              'Heating': 'HEATING',
              'Central Air': 'CNTRL_AIR',
              'Electrical': 'ELEC',
              'Gr Liv Area': 'GR_LIV_AREA',
              'Full Bath': 'FL_BATH',
              'Half Bath': 'HF_BATH',
              'TotRms AbvGrd': 'TTL_RMS_ABV_GRD',
              'Fireplaces': 'FIRE_PLCS',
              'Garage Type': 'GAR_TYPE',
              'Garage Cars': 'GAR_CARS',
              'Paved Drive': 'PVD_DR',
              'Mo Sold': 'MO_SOLD',
              'Sale Type': 'SALE_TYPE',
              'Sale Condition': 'SALE_COND',
              'SalePrice': 'SALE_PRICE'}

AH_2 = AH_1.rename(columns=rename_map)

AH_2.head()

,STREET,LT_SHAPE,LND_CNTR,UTLS,LND_SLOPE,BLDG_TYPE,HOUSE_STYLE,OVER_QUAL,RF_STYLE,EXT_QUAL,...,HF_BATH,TTL_RMS_ABV_GRD,FIRE_PLCS,GAR_TYPE,GAR_CARS,PVD_DR,MO_SOLD,SALE_TYPE,SALE_COND,SALE_PRICE
0,Pave,IR1,Lvl,AllPub,Gtl,1Fam,1Story,6,Hip,TA,...,0,7,2,Attchd,2.0,P,5,WD,Normal,215000
1,Pave,Reg,Lvl,AllPub,Gtl,1Fam,1Story,5,Gable,TA,...,0,5,0,Attchd,1.0,Y,6,WD,Normal,105000
2,Pave,IR1,Lvl,AllPub,Gtl,1Fam,1Story,6,Hip,TA,...,1,6,0,Attchd,1.0,Y,6,WD,Normal,172000
3,Pave,Reg,Lvl,AllPub,Gtl,1Fam,1Story,7,Hip,Gd,...,1,8,2,Attchd,2.0,Y,4,WD,Normal,244000
4,Pave,IR1,Lvl,AllPub,Gtl,1Fam,2Story,5,Gable,TA,...,1,6,1,Attchd,2.0,Y,3,WD,Normal,189900

In [15]:
# Step-4: Removing rows with NA or blank values.
# --------------------------------------------------
AH_2.dropna(inplace=True)

In [17]:
# Step-5: Exporting file as CSV to the current working directory
# --------------------------------------------------
output_file_name = 'Ames_Housing.csv'
AH_2.to_csv(output_file_name, index=False)

print(f"Dataset successfully cleaned and saved to {output_file_name}")

Dataset successfully cleaned and saved to Ames_Housing.csv