# Dataset for Lab-6 is MLB_Raw.csv

Raw dataset file MLB_Raw.csv is extracted from the openintro library in RStudio

In [5]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
import pandas as pd
MLB = pd.read_csv(r'..\Data_Extraction\MLB_Raw.csv')

In [7]:
# Step-2: Removing unwanted variables
# --------------------------------------------------
cols_to_remove = ['rank', 'division_id', 'home_games', 'division_winner', 'wild_card_winner', 'world_series_winner', 
                  'league_winner', 'stolen_bases', 'caught_stealing', 'batters_hit_by_pitch', 'sacrifice_flies',
                  'shutouts', 'saves', 'home_attendance']

MLB_1 = MLB.drop(columns=cols_to_remove)
MLB_1.head()

,year,league_id,games_played,wins,losses,runs_scored,at_bats,hits,doubles,triples,...,outs_pitches,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park
0,1876,NL,70,39,31,471,2722,723,96,24,...,1896,732,7,104,77,442,42,0.860,Boston Red Caps,South End Grounds I
1,1876,NL,66,52,14,624,2748,926,131,32,...,1777,608,6,29,51,282,33,0.899,Chicago White Stockings,23rd Street Grounds
2,1876,NL,65,9,56,238,2372,555,51,12,...,1773,850,9,34,60,469,45,0.841,Cincinnati Reds,Avenue Grounds
3,1876,NL,69,47,21,429,2664,711,96,22,...,1872,570,2,27,114,337,27,0.888,Hartford Dark Blues,Hartford Ball Club Grounds
4,1876,NL,69,30,36,280,2570,641,68,14,...,1929,605,3,38,125,397,44,0.875,Louisville Grays,Louisville Baseball Park

In [9]:
# Step-3: Renaming the column names
# --------------------------------------------------
rename_map = {'year': 'YEAR',
              'league_id': 'LG_ID',
              'games_played': 'GMS_PLYD',
              'wins': 'WINS',
              'losses': 'LOSSES',
              'runs_scored': 'RNS_SCRD',
              'at_bats': 'AT_BATS',
              'hits': 'HITS',
              'doubles': 'DOUBLES',
              'triples': 'TRIPLES',
              'homeruns': 'HM_RUNS',
              'walks': 'WALKS',
              'strikeouts_by_batters': 'SOBB',
              'opponents_runs_scored': 'ORS',
              'earned_runs_allowed': 'ERA',
              'earned_run_average': 'ER_AVG',
              'complete_games': 'COMP_GMS',
              'outs_pitches': 'OUTS_PCHS',
              'hits_allowed': 'HTS_ALWD',
              'homeruns_allowed': 'HRNS_ALWD',
              'walks_allowed': 'WKS_ALWD',
              'strikeouts_by_pitchers': 'SOBP',
              'errors': 'ERRS',
              'double_plays': 'DBL_PLYS',
              'fielding_percentage': 'FLDG_PERC',
              'team_name': 'TM_NAME',
              'ball_park': 'BL_PK'}

MLB_2 = MLB_1.rename(columns=rename_map)

MLB_2.head()

,YEAR,LG_ID,GMS_PLYD,WINS,LOSSES,RNS_SCRD,AT_BATS,HITS,DOUBLES,TRIPLES,...,OUTS_PCHS,HTS_ALWD,HRNS_ALWD,WKS_ALWD,SOBP,ERRS,DBL_PLYS,FLDG_PERC,TM_NAME,BL_PK
0,1876,NL,70,39,31,471,2722,723,96,24,...,1896,732,7,104,77,442,42,0.860,Boston Red Caps,South End Grounds I
1,1876,NL,66,52,14,624,2748,926,131,32,...,1777,608,6,29,51,282,33,0.899,Chicago White Stockings,23rd Street Grounds
2,1876,NL,65,9,56,238,2372,555,51,12,...,1773,850,9,34,60,469,45,0.841,Cincinnati Reds,Avenue Grounds
3,1876,NL,69,47,21,429,2664,711,96,22,...,1872,570,2,27,114,337,27,0.888,Hartford Dark Blues,Hartford Ball Club Grounds
4,1876,NL,69,30,36,280,2570,641,68,14,...,1929,605,3,38,125,397,44,0.875,Louisville Grays,Louisville Baseball Park

In [11]:
# Step-4: Removing rows with NA or blank values.
# --------------------------------------------------
MLB_2.dropna(inplace=True)

In [13]:
# Step-5: Exporting file as CSV to the current working directory
# --------------------------------------------------
output_file_name = 'MLB.csv'
MLB_2.to_csv(output_file_name, index=False)

print(f"Dataset successfully cleaned and saved to {output_file_name}")

Dataset successfully cleaned and saved to MLB.csv