# Data Cleaning: NHANES_Raw.csv

NHANES_Raw.csv file is extracted from NHANES library using R Studio

In [13]:
# Step-1: Importing the raw dataset.
# --------------------------------------------------
import pandas as pd
NR = pd.read_csv(r'..\Data_Extraction\NHANES_Raw.csv')
NR

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,...,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
0,51624,2009_10,male,34,30-39,409.0,White,NaN,High School,Married,...,No,NaN,Yes,Yes,16.0,8.0,1.0,No,Heterosexual,NaN
1,51624,2009_10,male,34,30-39,409.0,White,NaN,High School,Married,...,No,NaN,Yes,Yes,16.0,8.0,1.0,No,Heterosexual,NaN
2,51624,2009_10,male,34,30-39,409.0,White,NaN,High School,Married,...,No,NaN,Yes,Yes,16.0,8.0,1.0,No,Heterosexual,NaN
3,51625,2009_10,male,4,0-9,49.0,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51630,2009_10,female,49,40-49,596.0,White,NaN,Some College,LivePartner,...,No,NaN,Yes,Yes,12.0,10.0,1.0,Yes,Heterosexual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,71909,2011_12,male,28,20-29,NaN,Mexican,Mexican,9 - 11th Grade,NeverMarried,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,71910,2011_12,female,0,0-9,5.0,White,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,71911,2011_12,male,27,20-29,NaN,Mexican,Mexican,College Grad,Married,...,No,NaN,No,Yes,21.0,1.0,1.0,No,Heterosexual,NaN
9998,71915,2011_12,male,60,60-69,NaN,White,White,College Grad,NeverMarried,...,NaN,NaN,No,Yes,19.0,2.0,NaN,No,NaN,NaN
9999,71915,2011_12,male,60,60-69,NaN,White,White,College Grad,NeverMarried,...,NaN,NaN,No,Yes,19.0,2.0,NaN,No,NaN,NaN

In [15]:
NR.columns

Index(['ID', 'SurveyYr', 'Gender', 'Age', 'AgeDecade', 'AgeMonths', 'Race1',
       'Race3', 'Education', 'MaritalStatus', 'HHIncome', 'HHIncomeMid',
       'Poverty', 'HomeRooms', 'HomeOwn', 'Work', 'Weight', 'Length',
       'HeadCirc', 'Height', 'BMI', 'BMICatUnder20yrs', 'BMI_WHO', 'Pulse',
       'BPSysAve', 'BPDiaAve', 'BPSys1', 'BPDia1', 'BPSys2', 'BPDia2',
       'BPSys3', 'BPDia3', 'Testosterone', 'DirectChol', 'TotChol',
       'UrineVol1', 'UrineFlow1', 'UrineVol2', 'UrineFlow2', 'Diabetes',
       'DiabetesAge', 'HealthGen', 'DaysPhysHlthBad', 'DaysMentHlthBad',
       'LittleInterest', 'Depressed', 'nPregnancies', 'nBabies', 'Age1stBaby',
       'SleepHrsNight', 'SleepTrouble', 'PhysActive', 'PhysActiveDays',
       'TVHrsDay', 'CompHrsDay', 'TVHrsDayChild', 'CompHrsDayChild',
       'Alcohol12PlusYr', 'AlcoholDay', 'AlcoholYear', 'SmokeNow', 'Smoke100',
       'Smoke100n', 'SmokeAge', 'Marijuana', 'AgeFirstMarij', 'RegularMarij',
       'AgeRegMarij', 'HardDrugs', 'SexEver', 'SexAge', 'SexNumPartnLife',
       'SexNumPartYear', 'SameSex', 'SexOrientation', 'PregnantNow'],
      dtype='object')

In [17]:
# Step-2: Removing unwanted variables
# --------------------------------------------------
cols_to_remove = ['SurveyYr',  'AgeDecade', 'AgeMonths', 'Race3', 'HHIncome', 'HHIncomeMid',  'Length', 'HeadCirc', 
                  'BMICatUnder20yrs', 'BMI_WHO', 'BPSysAve', 'BPDiaAve', 'BPSys1', 'BPDia1', 'BPSys2', 'BPDia2',
                  'BPSys3', 'BPDia3', 'Testosterone', 'DirectChol',  'UrineFlow1', 'UrineVol2', 'UrineFlow2',
                  'DiabetesAge',  'DaysPhysHlthBad', 'DaysMentHlthBad', 'LittleInterest', 
                  'Depressed', 'nPregnancies', 'nBabies', 'Age1stBaby', 'SleepTrouble', 'PhysActive', 'PhysActiveDays',
                  'TVHrsDay', 'CompHrsDay', 'TVHrsDayChild', 'CompHrsDayChild', 'Alcohol12PlusYr', 'AlcoholDay', 
                  'AlcoholYear', 'SmokeNow', 'Smoke100', 'SmokeAge', 'Marijuana', 'AgeFirstMarij', 
                  'RegularMarij', 'AgeRegMarij', 'HardDrugs', 'SexEver', 'SexAge', 'SexNumPartnLife', 'SexNumPartYear', 
                  'SameSex', 'SexOrientation', 'PregnantNow']

NR_1 = NR.drop(columns=cols_to_remove)
NR_1.head()

,ID,Gender,Age,Race1,Education,MaritalStatus,Poverty,HomeRooms,HomeOwn,Work,Weight,Height,BMI,Pulse,TotChol,UrineVol1,Diabetes,HealthGen,SleepHrsNight,Smoke100n
0,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
1,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
2,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
3,51625,male,4,Other,NaN,NaN,1.07,9.0,Own,NaN,17.0,105.4,15.30,NaN,NaN,NaN,No,NaN,NaN,NaN
4,51630,female,49,White,Some College,LivePartner,1.91,5.0,Rent,NotWorking,86.7,168.4,30.57,86.0,6.70,77.0,No,Good,8.0,Smoker

In [19]:
NR_1.shape

(10000, 20)

In [21]:
# Step 3: Renaming the variable names
# ---------------------------------------------------
rename_map = {'ID': 'ID',
                         'Gender': 'GENDER',
                         'Age': 'AGE',
                         'Race1': 'RACE',
                         'Education': 'EDUCATION',
                         'MaritalStatus': 'MAR_ST',
                         'Poverty': 'POVERTY',
                         'HomeRooms': 'HOME_ROOMS',
                         'HomeOwn': 'HOME_TYPE',
                         'Work': 'WORK',
                         'Weight': 'WEIGHT',
                         'Height': 'HEIGHT',
                         'BMI': 'BMI',
                         'Pulse': 'PULSE',
                         'TotChol': 'TOT_CHOL',
                         'UrineVol1': 'URINE_VOL',
                         'Diabetes': 'DIABETES',
                         'HealthGen': 'HEALTH',
                         'SleepHrsNight': 'SLEEP_HRS',
                         'Smoke100n': 'SMOKE'}

NR_2 = NR_1.rename(columns=rename_map)

NR_2.head()

,ID,GENDER,AGE,RACE,EDUCATION,MAR_ST,POVERTY,HOME_ROOMS,HOME_TYPE,WORK,WEIGHT,HEIGHT,BMI,PULSE,TOT_CHOL,URINE_VOL,DIABETES,HEALTH,SLEEP_HRS,SMOKE
0,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
1,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
2,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
3,51625,male,4,Other,NaN,NaN,1.07,9.0,Own,NaN,17.0,105.4,15.30,NaN,NaN,NaN,No,NaN,NaN,NaN
4,51630,female,49,White,Some College,LivePartner,1.91,5.0,Rent,NotWorking,86.7,168.4,30.57,86.0,6.70,77.0,No,Good,8.0,Smoker

In [23]:
NR_2.shape

(10000, 20)

In [25]:
# Step-4: Removing rows with NA or blank values.
# --------------------------------------------------
NR_2.dropna(inplace=True)
NR_2.head()

,ID,GENDER,AGE,RACE,EDUCATION,MAR_ST,POVERTY,HOME_ROOMS,HOME_TYPE,WORK,WEIGHT,HEIGHT,BMI,PULSE,TOT_CHOL,URINE_VOL,DIABETES,HEALTH,SLEEP_HRS,SMOKE
0,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
1,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
2,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
4,51630,female,49,White,Some College,LivePartner,1.91,5.0,Rent,NotWorking,86.7,168.4,30.57,86.0,6.70,77.0,No,Good,8.0,Smoker
7,51647,female,45,White,College Grad,Married,5.00,6.0,Own,Working,75.7,166.7,27.24,62.0,5.82,106.0,No,Vgood,8.0,Non-Smoker

In [27]:
NR_2.shape

(5636, 20)

In [29]:
# Step 5: Removing the duplicate rows
# ---------------------------------------------------
print(f"\nNumber of rows before removing duplicates: {len(NR_2)}")
NR_2.drop_duplicates(inplace=True)
print(f"Number of rows after removing duplicates: {len(NR_2)}")

Number of rows before removing duplicates: 5636
Number of rows after removing duplicates: 3555

In [31]:
NR_2.head()

,ID,GENDER,AGE,RACE,EDUCATION,MAR_ST,POVERTY,HOME_ROOMS,HOME_TYPE,WORK,WEIGHT,HEIGHT,BMI,PULSE,TOT_CHOL,URINE_VOL,DIABETES,HEALTH,SLEEP_HRS,SMOKE
0,51624,male,34,White,High School,Married,1.36,6.0,Own,NotWorking,87.4,164.7,32.22,70.0,3.49,352.0,No,Good,4.0,Smoker
4,51630,female,49,White,Some College,LivePartner,1.91,5.0,Rent,NotWorking,86.7,168.4,30.57,86.0,6.70,77.0,No,Good,8.0,Smoker
7,51647,female,45,White,College Grad,Married,5.00,6.0,Own,Working,75.7,166.7,27.24,62.0,5.82,106.0,No,Vgood,8.0,Non-Smoker
10,51654,male,66,White,Some College,Married,2.20,5.0,Own,NotWorking,68.0,169.5,23.67,60.0,4.99,113.0,No,Vgood,7.0,Smoker
11,51656,male,58,White,College Grad,Divorced,5.00,10.0,Rent,Working,78.4,181.9,23.69,62.0,4.24,163.0,No,Vgood,5.0,Non-Smoker

In [33]:
# Step 6: Exporting the cleaned dataset to a CSV file
# ---------------------------------------------------
output_filename = 'NHANES.csv'
NR_2.to_csv(output_filename, index=False)
print(f"\nCleaned dataset exported to '{output_filename}' in the current working directory.")

Cleaned dataset exported to 'NHANES.csv' in the current working directory.